header {
  background: url(../images/do-what-is-great.jpg) center / cover;
  height: 50vh;
  justify-content: center;
  text-align: center;
}

 header h1 {
   padding-top: 30%;
   text-align: center;
}

form {
  padding-top: 15%;
  text-align: center;
}

ul {
  list-style-type: none;
}
